@import './core.scss';

#societies-page {

  .societies-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .society {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        margin: 0;
        margin-left: 20px;
      }

      img {
        width: 50px;
      }
    }

    .society + .society {
      margin-top: 20px;
    }
  }

  .society-container {
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
  
}